body {
  margin: 0;
  position: relative;
  background-color: black;
  height: 100%;
  width: 100%;
  font-family: 'Bitter', serif; 
}

html {
	height: 100%;
	width: 100%;
}

.my-btn {
	position: relative;
	z-index: 20;
}

/* h1 { */

  /* font-size: 3em; */
  /* color: white; */
  /* text-align:center; */
  /* white-space: nowrap; */
/* } */

/* #title{ */
  /* position: relative; */
  /* top: 50%; */

  /* transform: translateY(-50%); */

/* } */


#myCanvas {
	position: relative;
	top: 0;
	left: 0;
	z-index: 1;
}

#overlay {
	position: absolute;
	width: 100%;
	top: 50%;
}


.masthead {
  display: table;
  width: 100%;
  height: auto;
  padding: 200px 0;
  text-align: center;
  color: white;
  background: url("https://images2.imgbox.com/e8/5b/rki0Wiz8_o.jpg") no-repeat bottom center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.masthead .intro-body {
  display: table-cell;
  vertical-align: middle;
}

.masthead .intro-body .brand-heading {
  font-size: 50px;
}

.masthead .intro-body .intro-text {
  font-size: 18px;
}

/* @media { */
  .masthead {
    height: 100%;
    padding: 0;
  }
  
/* #showHide {  */
	/* display:none;  */
	/* } */

/* Desktop*/
@media (min-width: 768px) {
  #showHide  { display: block; }
  /* #leftside > button { display: none; } */
}

#curser {
  border-right: .05em solid;
  animation: caret 0.60s steps(1) infinite;
}

@keyframes caret {
  50% {
    border-color: transparent;
  }
}

.content-section {
  padding-top: 150px;
  padding-bottom: 150px;
  padding-left: 10%;
  padding-right: 10%;
  /* width: 80%; */
  /* padding-left: 20%; */
}

#cell {
	margin: auto;
}

.text-center {
    text-align: center!important;
}

#player {
	transition: all 0.6s ease-in-out;
	filter: grayscale(100%);
}

#player1 {
transition: all 0.6s ease-in-out;
border-radius: 50%; 
overflow: hidden;
filter: grayscale(100%);
}

#player1:hover {
filter: grayscale(0%);
overflow: visible;
border-radius: 0px;
}

#player:hover {
	filter: grayscale(0%);
}

#toggleExample.in,
#toggleExample.collapsing {
    display: block!important;
}


.quote {
	font-size: 90px; 
	font-family: 'Passion One', bold;
	line-height: 0;
}

.left-quote {
	text-align: left;

}

.right-quote {
	text-align: right;
	padding-top: 30px;

}

.bio {
	letter-spacing: 4px;
	background: rgba(0, 0, 0, 0.3);
}


.download-section {
  color: white;
  background: url("https://images2.imgbox.com/69/32/1Lba2Tr6_o.jpg") no-repeat center center scroll;
  background-color: black;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.footer {
	color: grey;
	width: 100%;
	background-color: #1b1b1b;
}

#contact {
	color: white;
}


.btn {
  font-weight: 400;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-transform: uppercase;
  border-radius: 0;
}

.btn-default {
  color: #ffffff;
  border: 1px solid #ffffff;
  background-color: transparent;
}

.btn-default:focus, .btn-default:hover {
  color: black;
  border: 1px solid #ffffff;
  outline: none;
  background-color: #ffffff;
}

ul.banner-social-buttons {
  margin-top: 0;
}

@media (max-width: 1199px) {
  ul.banner-social-buttons {
    margin-top: 15px;
  }
}

@media (max-width: 767px) {
  ul.banner-social-buttons li {
    display: block;
    margin-bottom: 20px;
    padding: 0;
  }
  ul.banner-social-buttons li:last-child {
    margin-bottom: 0;
  }
}
